.title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    color: rgb(0, 0, 167);
    margin-bottom: 50px;
    font-family: 'Carter One', cursive;
  }

  .score {
    font-family: 'Carter One', cursive;
  }
  