.card {
    background: #fff;
    border-radius: 2px;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  .card > .img-container {
    height: 100%;
    overflow: hidden; 
    text-align: center;
    background:rgb(235, 19, 19);
  }
  .card > .img-container > img {
    width: 275px;
    height: 275px;
    margin-top: .75rem;
    margin-bottom: .75rem;
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 10px;
  }